ANS 1

In [ ]:
MongoDB is a schema-less database, which means the database can manage data without the need for a blueprint.
This ability to digest and organize various types of information side by side makes non-relational databases
much more flexible than relational databases. Example MongoDB Document for a Patient in Healthcare. 
Non-relational databases are often used when large quantities of complex and diverse data need to be organized.

ANS 2

In [ ]:
MONGODB FEATURES

1) Schema-less Database: It is the great feature provided by the MongoDB. 
   Schema-less database means one collection can hold different types of documents in it.
2) Indexing appropriately for better query executions. 
3) Replication for better data availability and stability. 
4) Sharding. 
5) High Performance: The performance of MongoDB is very high and data persistence as compared to another
   database due to its features like scalability, indexing, replication, etc.

ANS 3

In [1]:
#https://www.mongodb.com/

In [2]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://ss5707535:pwskills1506@cluster0.nztcnjq.mongodb.net/?retryWrites=true&w=majority")
db=client.test

In [3]:
pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.10/site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /opt/conda/lib/python3.10/site-packages (from pymongo) (2.3.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
db

Database(MongoClient(host=['ac-6adqotj-shard-00-01.nztcnjq.mongodb.net:27017', 'ac-6adqotj-shard-00-02.nztcnjq.mongodb.net:27017', 'ac-6adqotj-shard-00-00.nztcnjq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-3tsh31-shard-0', tls=True), 'test')

In [5]:
client = pymongo.MongoClient("mongodb+srv://ss5707535:pwskills1506@cluster0.nztcnjq.mongodb.net/?retryWrites=true&w=majority")

In [6]:
db = client['pwskills1506']

In [7]:
data = {"name" : "sudh",
       "class" : "data science masters",
       "time" : "flexi"}

In [8]:
coll_pwskills = db["record 4"]

In [9]:
coll_pwskills.insert_one(data)

ANS 4

In [10]:
data1 = {"mail_id" : "sanja@gmail.com",
         "phone_number" : "869394858",
         "addr" : "bengluru"
        }

In [11]:
coll_pwskills.insert_one(data1)

In [12]:
data2 = [
  { "name" : "sudhanshu" , "address" : "apple at 225" },
  { "name" : "amy" , "address" : "mountain 21"},
  { "name" : "himanshu" , "address" : "rajiv chowk"},
  { "name" : "krishna" , "address" : "central park"},
  { "name" : "harshita" , "address" : "green grass 1"},
  { "name" : "betty" , "address" : "sky st 331"},
  { "name" : "susan" , "address" : "hapur"},
  { "name" : "kaishap" , "address" : "park lane 31"},
  { "name" : "ben" , "address" : "main road 989"},
  { "name" : "vicky" , "address" : "sideway 1768"}
 ]

In [13]:
coll_pwskills.insert_many(data2)

In [14]:
coll_pwskills.find_one()

{'_id': ObjectId('64a839471a568a8ba1983cb9'),
 'name': 'sudh',
 'class': 'data science masters',
 'time': 'flexi'}

In [15]:
for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('64a839471a568a8ba1983cb9'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a839941a568a8ba1983cc5'), 'mail_id': 'sanja@gmail.com', 'phone_number': '869394858', 'addr': 'bengluru'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc6'), 'name': 'sudhanshu', 'address': 'apple at 225'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc7'), 'name': 'amy', 'address': 'mountain 21'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc8'), 'name': 'himanshu', 'address': 'rajiv chowk'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc9'), 'name': 'krishna', 'address': 'central park'}
{'_id': ObjectId('64a8399b1a568a8ba1983cca'), 'name': 'harshita', 'address': 'green grass 1'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccb'), 'name': 'betty', 'address': 'sky st 331'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccc'), 'name': 'susan', 'address': 'hapur'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccd'), 'name': 'kaishap', 'address': 'park lane 31'}
{'_id': ObjectId('64a8399b1a568a8ba1983cce'), 'name': 'ben', 'address': 'main road 989'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccf'), 'name': 'vicky', 'address': 'sideway 1768'}
{'_id': ObjectId('64a83b0cc936313b0f5c77c5'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a83b13c936313b0f5c77c6'), 'mail_id': 'sanja@gmail.com', 'phone_number': '869394858', 'addr': 'bengluru'}
{'_id': ObjectId('64a83b19c936313b0f5c77c7'), 'name': 'sudhanshu', 'address': 'apple at 225'}
{'_id': ObjectId('64a83b19c936313b0f5c77c8'), 'name': 'amy', 'address': 'mountain 21'}
{'_id': ObjectId('64a83b19c936313b0f5c77c9'), 'name': 'himanshu', 'address': 'rajiv chowk'}
{'_id': ObjectId('64a83b19c936313b0f5c77ca'), 'name': 'krishna', 'address': 'central park'}
{'_id': ObjectId('64a83b19c936313b0f5c77cb'), 'name': 'harshita', 'address': 'green grass 1'}
{'_id': ObjectId('64a83b19c936313b0f5c77cc'), 'name': 'betty', 'address': 'sky st 331'}
{'_id': ObjectId('64a83b19c936313b0f5c77cd'), 'name': 'susan', 'address': 'hapur'}
{'_id': ObjectId('64a83b19c936313b0f5c77ce'), 'name': 'kaishap', 'address': 'park lane 31'}
{'_id': ObjectId('64a83b19c936313b0f5c77cf'), 'name': 'ben', 'address': 'main road 989'}
{'_id': ObjectId('64a83b19c936313b0f5c77d0'), 'name': 'vicky', 'address': 'sideway 1768'}

ANS 5

In [ ]:
In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. 
Cursor means a pointer that points to a document,when we use find() method it returns a pointer on the selected 
documents and returns one by one

In [16]:
for i in coll_pwskills.find({'name': 'sudh'}) :
    print(i)

{'_id': ObjectId('64a839471a568a8ba1983cb9'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a83b0cc936313b0f5c77c5'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}

ANS 6

In [ ]:
The sort() method specifies the order in which the query returns the matching documents from
the given collection. You must apply this method to the cursor before retrieving any documents from the database

In [18]:
coll_pwskills.update_many({'name': 'himanshu'} , {"$set" :{'name': 'himanshi|'}})

In [19]:
for i in coll_pwskills.find() :
    print(i)

{'_id': ObjectId('64a839471a568a8ba1983cb9'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a839941a568a8ba1983cc5'), 'mail_id': 'sanja@gmail.com', 'phone_number': '869394858', 'addr': 'bengluru'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc6'), 'name': 'sudhanshu', 'address': 'apple at 225'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc7'), 'name': 'amy', 'address': 'mountain 21'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc8'), 'name': 'himanshi|', 'address': 'rajiv chowk'}
{'_id': ObjectId('64a8399b1a568a8ba1983cc9'), 'name': 'krishna', 'address': 'central park'}
{'_id': ObjectId('64a8399b1a568a8ba1983cca'), 'name': 'harshita', 'address': 'green grass 1'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccb'), 'name': 'betty', 'address': 'sky st 331'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccc'), 'name': 'susan', 'address': 'hapur'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccd'), 'name': 'kaishap', 'address': 'park lane 31'}
{'_id': ObjectId('64a8399b1a568a8ba1983cce'), 'name': 'ben', 'address': 'main road 989'}
{'_id': ObjectId('64a8399b1a568a8ba1983ccf'), 'name': 'vicky', 'address': 'sideway 1768'}
{'_id': ObjectId('64a83b0cc936313b0f5c77c5'), 'name': 'sudh', 'class': 'data science masters', 'time': 'flexi'}
{'_id': ObjectId('64a83b13c936313b0f5c77c6'), 'mail_id': 'sanja@gmail.com', 'phone_number': '869394858', 'addr': 'bengluru'}
{'_id': ObjectId('64a83b19c936313b0f5c77c7'), 'name': 'sudhanshu', 'address': 'apple at 225'}
{'_id': ObjectId('64a83b19c936313b0f5c77c8'), 'name': 'amy', 'address': 'mountain 21'}
{'_id': ObjectId('64a83b19c936313b0f5c77c9'), 'name': 'himanshi|', 'address': 'rajiv chowk'}
{'_id': ObjectId('64a83b19c936313b0f5c77ca'), 'name': 'krishna', 'address': 'central park'}
{'_id': ObjectId('64a83b19c936313b0f5c77cb'), 'name': 'harshita', 'address': 'green grass 1'}
{'_id': ObjectId('64a83b19c936313b0f5c77cc'), 'name': 'betty', 'address': 'sky st 331'}
{'_id': ObjectId('64a83b19c936313b0f5c77cd'), 'name': 'susan', 'address': 'hapur'}
{'_id': ObjectId('64a83b19c936313b0f5c77ce'), 'name': 'kaishap', 'address': 'park lane 31'}
{'_id': ObjectId('64a83b19c936313b0f5c77cf'), 'name': 'ben', 'address': 'main road 989'}
{'_id': ObjectId('64a83b19c936313b0f5c77d0'), 'name': 'vicky', 'address': 'sideway 1768'}

ANS 7

In [ ]:
In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which 
defines the document to be deleted. 
If there are multiple documents matching the filter query, only the first appeared document would be deleted. 

In MongoDB, a single document can be deleted by the method delete_one(). The first parameter of the method would be a query object which defines 
the document to be deleted. If there are multiple documents matching the filter query, only the first appeared document would be deleted. 

The drop() method removes the specified row or column. By specifying the column axis
( axis='columns' ), the drop() method removes the specified column. By specifying the row axis ( axis='index' ), the drop() method removes the specified row.